body{
    background-image: url(../images/Mass\ Circles.svg);
    /* background-repeat: repeat-y; */
    background-repeat: repeat;
    background-position: left;
}
.text-info{
    width: 50%;
    border: 2px solid yellow;
    border-radius: 15px;
    box-shadow: 25px 25px 10px 10px blueviolet;
    margin: 25px 10px 25px 10px;
    padding: 15px;
    text-align: center;
}

.name{
    color: black;
}

img{
    width: 30%;
}